<h1>From the ASPeak HQ</h1>

<p>Ayy Yung Buhl,</p>

<p>
Welcome to ASPeak! Click that jawn below to activate your account:
</p>

<%= link_to "Click this Jawn", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                                                    
<p>Thanks,</br>Michael</p>