Ayy Yung Buhl,

Welcome to ASPeak! This is kinda pointless but click the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>

Thanks,
Michael