<h1>From the ASPeak HQ</h1>

<p>To reset your password click the link below:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>P.S. This link will expire in two hours... so click it soon</p>
