Psych! thats the wrong password! Click the link below to reset:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

P.S. This link will expire in two hours... so click it soon.




