<footer class="footer">
  <small>
    ASPeak by <a href="http://soundcloud.com/mgmas">Michael Gingras</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path  %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>